{% extends 'base.html' %}
{% block title %}Assinar livro de Convidados{% endblock %}
{%block css%}
<link rel="stylesheet" href="{{url_for('static', filename='css/sign.css')}}">
{%endblock%}

{%block body%}
<div class="container">
    <form action="{{url_for('main.sign_post')}}" method="post" class="form-signin">
        <h2 class="form-signin-heading">Sign the Guest Book</h2>
        <div class="form-group">
            <label for="inputName" class="sr-only">Name</label>
            <input type="text" id="inputName" name="name" class="form-control" placeholder="Name" required autofocus>
        </div>
        <div class="form-group">
            <label for="comment" class="sr-only">Comment:</label>
            <textarea class="form-control" name="comment" rows="5" id="comment" placeholder="Comment"
                required></textarea>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign</button>
    </form>
</div>
{%endblock%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">

</head>

<body>

</body>

</html>